<template name="layout">

	<div class="tab-content active text-center" data-name="home">
		<div>Group:</div>
		<select class="group-select">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
		
		<div class="time-settings">
			<div>Frequency:</div>
			<div class="hours">
				<span>h:</span>
				<select class="hours-select">
					{{#each hours}}
						<option value="{{.}}">{{.}}</option>
					{{/each}}
				</select>
			</div>
			<div class="minutes">
				<span>m:</span>
				<select class="minutes-select">
					{{#each minutes}}
						<option value="{{.}}">{{.}}</option>
					{{/each}}
				</select>
			</div>
		</div>

		<div>
			<button class="timer-start">Start</button>
			<button class="timer-stop hide">Stop</button>
			<button class="timer-reset hide">Reset</button>
		</div>

		<div class="timer">
			<span class="timer-hours">00</span>:<span class="timer-minutes">00</span>:<span class="timer-seconds">00</span>
		</div>

	</div>
	<div class="tab-content" data-name="settings">
		2
	</div>
	<div class="tab-content" data-name="contacts">
		3
	</div>
	<div class="tab-content" data-name="help">
		4
	</div>
	<ul class="tabs">
		<li class="active" data-action="home">
			<span class="glyphicon glyphicon-home"></span>
			<div>Home</div>
		</li>
		<li data-action="settings">
			<span class="glyphicon glyphicon-wrench"></span>
			<div>Settings</div>
		</li>
		<li data-action="contacts">
			<span class="glyphicon glyphicon-phone-alt"></span>
			<div>Contact Us</div>
		</li>
		<li data-action="help">
			<span class="glyphicon glyphicon-info-sign"></span>
			<div>Help</div>
		</li>
	</ul>
</template>